In [2]:
import pandas as pd
pd.set_option("display.max_rows", 5)
pd.set_option("display.float_format", lambda x: "%.3f" % x)

In [5]:
df = pd.read_excel(r"C:\Users\kaihsu\Desktop\Price Quote list 20210111.xlsx", None)

In [7]:
df = df['Components']

In [17]:
df['Region'] = df['Region'].map(lambda x: 'Russia' if x == 'Russia ' else x)

In [19]:
df.columns

Index(['Date', 'Region', 'Customer', 'End Customer', 'Application', 'Supplier',
       'Customer PN', 'Inpaq PN', 'Cust. Target Price',
       'Inpaq Price(USD/Kpcs)', 'Quantity(PCS)', 'Samples', 'Unnamed: 12'],
      dtype='object')

In [22]:
df['Customer'] = df['Customer'].map(lambda x: 'MT-System' if x =='Mt System' else x)

In [26]:
df ['Customer'] = df['Customer'].map(lambda x: x.upper())

In [27]:
df1 = df[['Date', 'Customer', 'Inpaq PN', 'Inpaq Price(USD/Kpcs)']]

In [32]:
df1.dropna(subset=['Inpaq Price(USD/Kpcs)'], inplace=True)

<ipython-input-32-afb00ed6a50c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(subset=['Inpaq Price(USD/Kpcs)'], inplace=True)

In [37]:
df1

         Date   Customer            Inpaq PN Inpaq Price(USD/Kpcs)
5  2018-02-21  MT-SYSTEM        TVWDF1004AD0                    41
6  2018-02-21  MT-SYSTEM  TVLV5B1-DFN1006-2L                 6.300
..        ...        ...                 ...                   ...
89 2020-11-03  TELTONIKA      WCI1005AN8N2_E                 0.034
90 2020-11-03  TELTONIKA      WCI1005AN33N_E                 0.034

[76 rows x 4 columns]

In [61]:
# 匯入整理好的預算價格，抽出MT-SYSTEM 2021的元件預算來比對價格
budget = pd.read_excel(r"C:\Users\kaihsu\Desktop\業績總表\最終預算報告用表格（新）.xlsx", None)

In [62]:
budget = budget['Sheet1']

In [63]:
budget.columns

Index(['負責業務', 'BG', 'Group', '預交年份', '預交月份', '數量', '本國幣別NTD', '品名', '類型'], dtype='object')

In [64]:
budget_sample = budget[(budget['負責業務'] == '許凱智') & (budget['Group'] == 'MT-SYSTEM') & (budget['類型'] == '元件') & (budget['預交年份'] == 2021)]

In [74]:
budget_sample.columns

Index(['負責業務', 'BG', 'Group', '預交年份', '預交月份', '數量', '本國幣別NTD', '品名', '類型'], dtype='object')

In [84]:
budget_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216 entries, 16198 to 16413
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   負責業務     216 non-null    object
 1   BG       216 non-null    object
 2   Group    216 non-null    object
 3   預交年份     216 non-null    int64
 4   預交月份     216 non-null    object
 5   數量       216 non-null    int64
 6   本國幣別NTD  216 non-null    int64
 7   品名       216 non-null    object
 8   類型       216 non-null    object
dtypes: int64(3), object(6)
memory usage: 16.9+ KB

In [85]:
budget_sample['單價'] = budget_sample['本國幣別NTD'] / budget_sample['數量']

<ipython-input-85-4af7499e77b8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  budget_sample['單價'] = budget_sample['本國幣別NTD'] / budget_sample['數量']

In [89]:
budget_sample = budget_sample.groupby(['Group', '預交年份', '品名', '單價'])[['數量', '本國幣別NTD']].sum().reset_index()

In [90]:
budget_sample = budget_sample[['Group', '品名', '單價']]

In [95]:
df1 = df1[['Customer', 'Inpaq PN', 'Inpaq Price(USD/Kpcs)']]
df1 = df1[df1['Customer'] == 'MT-SYSTEM']

In [96]:
df1.columns = ['Group', '品名', 'Unit price']

In [98]:
result = pd.merge(budget_sample, df1, on=['Group', '品名'], how='left')

In [107]:
result[result['Unit price'].notna()]

        Group                品名    單價 Unit price
10  MT-SYSTEM  WIP201610P-1R5ML 0.728     18(20)
11  MT-SYSTEM  WIP201610P-1R5ML 0.728         20
14  MT-SYSTEM  WIP252012P-2R2ML 0.517         20
15  MT-SYSTEM  WIP252012P-2R2ML 0.518         20
16  MT-SYSTEM    WMM0420PX-3R3M 1.872     53.500

In [60]:
'''先寫起來，以後可以拿來當做維護報價表的方式，就不需要去Teams裡面填寫了。
    input按照欄位順序填寫
    然後建立成list再和表格的columns合併成字典
    最後append到表格最後'''
budget_keys = budget.columns
budget_values = ['許凱智', 'TT', 'MT-SYSTEM', 2021, 'March', 20302, 1432423, 'JDS-DS-1234', '元件']
# 下面這步很重要，把輸入的值和欄位名稱合併為dictionary之後才能直接append到dataframe去
combine = dict(zip(budget_keys, budget_values))
# 使用append將上面的dictionary加入表格最後，然後index重新計算
budget_sample.append(combine, ignore_index=True)

    負責業務   BG      Group  預交年份      預交月份     數量  本國幣別NTD                品名  類型
0    許凱智  AIP  MT-SYSTEM  2021   January      0        0    NIP8040PX-100M  元件
1    許凱智  AIP  MT-SYSTEM  2021  February      0        0    NIP8040PX-100M  元件
..   ...  ...        ...   ...       ...    ...      ...               ...  ..
215  許凱智  WIP  MT-SYSTEM  2021  December  80000    41328  WIP252012P-2R2ML  元件
216  許凱智   TT  MT-SYSTEM  2021     March  20302  1432423       JDS-DS-1234  元件

[217 rows x 9 columns]