In [1]:
import pandas as pd
pd.set_option("display.max_rows", 8)
pd.set_option("display.max_columns", None)
import tkinter as tk
from tkinter import filedialog

In [98]:
root = tk.Tk()
root.withdraw()
file_path = filedialog.askopenfilename()

In [99]:
df = pd.read_excel(file_path, sheet_name="出貨明細")

In [100]:
iris = df[["BG", "Subcategory", "Group", "狀態", "預交年份", "預交月份", "負責業務", "品名", "本國幣別NTD", "已出數量", "數量", "出通單號"]]

In [101]:
iris = iris[(iris["BG"] == "RF") & (iris["狀態"].str.contains("出")) & (iris["預交年份"] == 2021) & (iris["預交月份"].isin(["March", "April"]))]

In [102]:
iris["Subcategory"] = iris.apply(lambda x: "BU2" if "RFDPA" in x["品名"] else "BU1", axis=1)

In [103]:
iris = iris[iris["Subcategory"] == "BU1"]

In [104]:
budget = pd.read_excel(file_path, sheet_name="2021預算總表", usecols="A:I")

In [105]:
iris_march = iris[(iris['預交月份'] == 'March') & (~iris['出通單號'].isna())].reset_index(drop=True)

In [106]:
iris_april = iris[(iris['預交月份'] == 'April')]

In [107]:
iris_march[iris_march['負責業務'] == '墨漢雷迪']['本國幣別NTD'].sum()

3533828.3596

In [108]:
iris = pd.concat([iris_march, iris_april], axis=0).reset_index(drop=True)

In [109]:
revenue = iris.groupby(["負責業務", "預交月份"])["本國幣別NTD"].sum().reset_index()

In [110]:
budget = budget[~budget['品名'].str.contains('RFDPA')]

In [111]:
budget = budget[(budget["類型"] == "天線") & (budget["預交年份"] == 2021) & (budget["預交月份"].isin(["March", "April"]))].groupby(["負責業務", "預交月份"])[["本國幣別NTD"]].sum().reset_index()

In [112]:
budget["類別"] = "預算"
revenue["類別"] = "實績"

In [113]:
budget.columns = ['負責業務', '預交月份', '本國幣別NTD', '類別']

In [114]:
revenue.columns = ['負責業務', '預交月份', '本國幣別NTD', '類別']

In [115]:
for_iris = pd.concat([revenue, budget], axis=0)

In [116]:
result = iris.pivot_table(index=["負責業務", "Subcategory"], values="本國幣別NTD", columns="預交月份", aggfunc="sum").reset_index()

In [ ]:
'''.xs()可以將unstack後的level刪除'''
test = iris.groupby(["負責業務", "Subcategory", "預交月份"])[["本國幣別NTD"]].sum().unstack("預交月份").xs("本國幣別NTD", axis=1).reset_index()

In [ ]:
result = iris.pivot_table(index=["負責業務", "Subcategory"], columns="預交月份", values="本國幣別NTD", aggfunc="sum", margins=True, margins_name="Total").reset_index()

In [117]:
result = for_iris.pivot_table(index=["負責業務", "類別"], columns="預交月份", values="本國幣別NTD", aggfunc="sum").reset_index()

In [118]:
final = pd.DataFrame(result.to_records())

In [119]:
final = final.drop("index", axis=1)

In [120]:
final

   負責業務  類別        April         March
0  墨漢雷迪  實績   3982629.98  3.533828e+06
1  墨漢雷迪  預算  11021700.00  9.144335e+06
2   許凱智  實績   5015033.80  8.643638e+06
3   許凱智  預算   2264707.00  3.497883e+06
4   鄭里緗  實績    594162.80  4.044040e+05
5   鄭里緗  預算    358204.00  3.582040e+05

In [121]:
final = final.reindex(columns=['負責業務', '類別', 'March', 'April'])

In [122]:
# final = final.sort_values(["Subcategory", "February", "March"], ascending=[True, False, False])
final.style.format({"March":"{0:,.0f}", "April":"{:,.0f}"}).hide_index()

In [ ]:
result.style.format({"本國幣別NTD":"{0:,.0f}"}).highlight_max(color="lightgreen").highlight_min(color="red")