In [44]:
import pandas as pd
pd.set_option("display.max_rows", 8)
pd.set_option("display.max_columns", None)
import tkinter as tk
from tkinter import filedialog

In [89]:
root = tk.Tk()
root.withdraw()
file_path = filedialog.askopenfilename()

In [90]:
df = pd.read_excel(file_path, sheet_name="出貨明細")

In [91]:
iris = df[["BG", "Subcategory", "Group", "狀態", "預交年份", "預交月份", "負責業務", "品名", "本國幣別NTD"]]

In [92]:
iris = iris[(iris["BG"] == "RF") & (iris["狀態"].str.contains("出")) & (iris["預交年份"] == 2021) & (iris["預交月份"].isin(["February", "March", "April"]))]

In [93]:
iris["Subcategory"] = iris.apply(lambda x: "BU2" if "RFDPA" in x["品名"] else "BU1", axis=1)

In [94]:
iris = iris[iris["Subcategory"] == "BU1"]

In [95]:
budget = pd.read_excel(file_path, sheet_name="2021預算總表", usecols="A:I")

In [96]:
revenue = iris.groupby(["負責業務", "預交月份"])["本國幣別NTD"].sum().reset_index()

In [97]:
budget = budget[(budget["類型"] == "天線") & (budget["預交年份"] == 2021) & (budget["預交月份"].isin(["February", "March", "April"]))].groupby(["負責業務", "預交月份"])[["本國幣別NTD"]].sum().reset_index()

In [98]:
budget["類別"] = "預算"
revenue["類別"] = "實績"

In [99]:
budget.columns = ['負責業務', '預交月份', '本國幣別NTD', '類別']

In [100]:
revenue.columns = ['負責業務', '預交月份', '本國幣別NTD', '類別']

In [101]:
for_iris = pd.concat([revenue, budget], axis=0)

In [102]:
result = iris.pivot_table(index=["負責業務", "Subcategory"], values="本國幣別NTD", columns="預交月份", aggfunc="sum").reset_index()

In [103]:
'''.xs()可以將unstack後的level刪除'''
test = iris.groupby(["負責業務", "Subcategory", "預交月份"])[["本國幣別NTD"]].sum().unstack("預交月份").xs("本國幣別NTD", axis=1).reset_index()

In [104]:
result = iris.pivot_table(index=["負責業務", "Subcategory"], columns="預交月份", values="本國幣別NTD", aggfunc="sum", margins=True, margins_name="Total").reset_index()

In [105]:
result = for_iris.pivot_table(index=["負責業務", "類別"], columns="預交月份", values="本國幣別NTD", aggfunc="sum").reset_index()

In [106]:
final = pd.DataFrame(result.to_records())

In [107]:
final = final.drop("index", axis=1)

In [108]:
final

   負責業務  類別         April    February         March
0  墨漢雷迪  實績  1.738168e+06  8167264.00  4.488236e+06
1  墨漢雷迪  預算  1.102170e+07  8359053.00  9.144335e+06
2   許凱智  實績  8.335374e+06  6787327.26  5.877585e+06
3   許凱智  預算  2.990461e+06  6000733.00  6.000483e+06
4   鄭里緗  實績  5.941628e+05   189758.80  4.044040e+05
5   鄭里緗  預算  3.582040e+05   183400.00  3.582040e+05

In [112]:
final = final.reindex(columns=['負責業務', '類別', 'February', 'March', 'April'])

In [113]:
# final = final.sort_values(["Subcategory", "February", "March"], ascending=[True, False, False])
final.style.format({"February":"{0:,.0f}", "March":"{0:,.0f}", "April":"{:,.0f}"}).hide_index()

In [40]:
result.style.format({"本國幣別NTD":"{0:,.0f}"}).highlight_max(color="lightgreen").highlight_min(color="red")