## 20210729 合併文件

In [1]:
import pandas as pd
import tkinter as tk
from tkinter import filedialog

In [2]:
def get_paths():
    root = tk.Tk()
    root.withdraw()
    paths = filedialog.askopenfilenames()
    return paths


def parse_paths(file_paths: list):
    dfs = []
    for data, file_num in zip(file_paths, range(1, len(file_paths)+1)):
        globals()['df' + str(file_num)] = pd.read_excel(data)
        if 'Unnamed: 1' in globals()['df' + str(file_num)].columns:
            globals()['df' + str(file_num)] = pd.read_excel(data, header=3)
            # globals()['df' + str(file_num)] = globals()['df' + str(file_num)][:-2]
            # globals()['df' + str(file_num)].columns = columns
        # globals()['df' + str(file_num)].columns = columns
        dfs.append(globals()['df' + str(file_num)])
    return dfs


def combine_tables(tables):
    df = pd.concat(tables, axis=0)
    df.reset_index(drop=True, inplace=True)
    # df.dropna(subset=['客戶名稱'], inplace=True)
    return df

In [62]:
def fill_value(values: list):
    '''
    針對合併儲存格的處理，讓每個儲存格都有值。
    因為合併儲存格的話，在pandas裡面會只有第一raw有值，剩下的都會是空白，所以要用此function來把值複製上去。
    '''
    x = ''
    result_list = []
    for i in values:
        if pd.notna(i):
            x = i
            result_list.append(x)
        elif pd.isna(i):
            i = x
            result_list.append(i)
    return result_list

In [77]:
paths = get_paths()

In [78]:
dfs = parse_paths(paths)
result = combine_tables(dfs)
# result['C/NO'] = result['C/NO'].astype('str')
result['INV-NO'] = fill_value(result['INV-NO'])
result['C/NO'] = fill_value(result['C/NO'])
result['P/O no.'] = result['P/O no.'].map(lambda x: x + '0')
result.to_excel(r"C:\Users\kaihsu\Desktop\合併資料\總表.xlsx", index=False)

In [65]:
result['INV-NO'] = fill_value(result['C/NO'])

In [76]:
result['P/O no.'].map(lambda x: x + '0')

0       4502155692-10
1       4502155692-10
2       4502166193-10
3       4502166193-10
4       4502166193-10
            ...
122     4502174296-60
123     4502174296-40
124     4502174296-40
125     4502174296-90
126    4502174296-190
Name: P/O no., Length: 127, dtype: object

In [12]:
result['C/NO'].map(lambda x: )

,INV-NO,C/NO,P/O no.,Customer Material,TPN,COO,Pack Date,LOT-NO,QTY,KEY-NO,MEMO1,MEMO2,MEMO3,WTC Batch
0,VG44501252,1.0,4502156886-1,LSQ0806A12NG4P40,LSQ0806A-12NG,NaN,NaN,M221714005F,40000,NaN,NaN,NaN,NaN,20AL800232
1,NaN,NaN,4502156886-1,LSQ0806A12NG4P40,LSQ0806A-12NG,NaN,NaN,M221719002F,8000,NaN,NaN,NaN,NaN,20AL800351
2,NaN,1.0,4502156886-3,LSQ0806A5N5G4P40,LSQ0806A-5N5G,NaN,NaN,M221714003F,26000,NaN,NaN,NaN,NaN,20AL800233
3,NaN,NaN,4502156886-3,LSQ0806A5N5G4P40,LSQ0806A-5N5G,NaN,NaN,M221719005F,46000,NaN,NaN,NaN,NaN,20AL800352
4,NaN,1.0,4502163100-5,LSQ0807A14NG4P40,LSQ0807A-14NG,NaN,NaN,M221708005F,4000,NaN,NaN,NaN,NaN,20AL800353
5,NaN,1.0,4502163100-6,LSQ0807A6N9G4P40,LSQ0807A-6N9G,NaN,NaN,M221708007F,2000,NaN,NaN,NaN,NaN,20AL800354
6,NaN,1.0,4502161077-6,LSQ0908A23NJ7P40,LSQ0908A-23NJ,NaN,NaN,M221622005F,4000,NaN,NaN,NaN,NaN,20AL800355
7,NaN,NaN,4502161077-6,LSQ0908A23NJ7P40,LSQ0908A-23NJ,NaN,NaN,M221712004F,4000,NaN,NaN,NaN,NaN,20AL800356
8,NaN,2.0,4502144783-5,LSQ0910A22NJ7P80,LSQ0910A-22NJ,NaN,NaN,M221705001F,24000,NaN,NaN,NaN,NaN,20AL800358
9,NaN,NaN,4502144783-5,LSQ0910A22NJ7P80,LSQ0910A-22NJ,NaN,NaN,M221712001F,24000,NaN,NaN,NaN,NaN,20AL800357
10,NaN,NaN,4502144783-6,LSQ0910A22NJ7P80,LSQ0910A-22NJ,NaN,NaN,M221702004F,24000,NaN,NaN,NaN,NaN,20AL800231
11,NaN,NaN,4502144783-6,LSQ0910A22NJ7P80,LSQ0910A-22NJ,NaN,NaN,M221708002F,24000,NaN,NaN,NaN,NaN,20AL800359
12,NaN,NaN,4502161077-7,LSQ0910A22NJ7P80,LSQ0910A-22NJ,NaN,NaN,M221708002F,48000,NaN,NaN,NaN,NaN,20AL800359
13,NaN,1.0,4502174296-6,WLBD1005K2U121TP,MCB1005S121FBP,NaN,NaN,T121526007W,20000,NaN,NaN,NaN,NaN,20AL800360
14,NaN,1.0,4502174296-4,WLBD1005K1U601TB,MCB1005S601FBP,NaN,NaN,T121705001B,590000,NaN,NaN,NaN,NaN,20AL800240
15,NaN,NaN,4502174296-4,WLBD1005K1U601TB,MCB1005S601FBP,NaN,NaN,T121727004B,320000,NaN,NaN,NaN,NaN,20AL800362
16,NaN,1.0,4502174296-9,WLBD1005K2U601TP,MCB1005S601FBP,NaN,NaN,T121727004B,20000,NaN,NaN,NaN,NaN,20AL800363
17,NaN,1.0,4502174296-19,WLBD1608K2U102TP,MCB1608S102EBP,NaN,NaN,T121707015W,8000,NaN,NaN,NaN,NaN,20AL800361

### 隨便亂試 20210722

In [ ]:
import pandas as pd

In [ ]:
def generate_currency():
    df = pd.read_clipboard()
    return df.stack().reset_index()

In [ ]:
may_2021 = generate_currency()

In [ ]:
may_2021['Month'] = '2021-05-01'

In [ ]:
may_2021['Month'] = pd.to_datetime(may_2021['Month'], yearfirst=True).dt.strftime('%Y-%m')

In [ ]:
june_2021 = df.stack().reset_index()

In [ ]:
june_2021['Month'] = '2021-06-01'
june_2021['Month'] = pd.to_datetime(june_2021['Month'], yearfirst=True).dt.strftime('%Y-%m')

In [ ]:
april_2021 = generate_currency()

In [ ]:
april_2021['Month'] = '2021-04-01'
april_2021['Month'] = pd.to_datetime(april_2021['Month'], yearfirst=True).dt.strftime('%Y-%m')

In [ ]:
march_2021 = generate_currency()

In [ ]:
march_2021['Month'] = '2021-03-01'
march_2021['Month'] = pd.to_datetime(march_2021['Month'], yearfirst=True).dt.strftime('%Y-%m')

In [ ]:
feb_2021 = generate_currency()

In [ ]:
feb_2021['Month'] = '2021-02-01'
feb_2021['Month'] = pd.to_datetime(feb_2021['Month'], yearfirst=True).dt.strftime('%Y-%m')

In [ ]:
jan_2021 = generate_currency()

In [ ]:
jan_2021['Month'] = '2021-02-01'
jan_2021['Month'] = pd.to_datetime(jan_2021['Month'], yearfirst=True).dt.strftime('%Y-%m')

In [ ]:
dec_2020 = generate_currency()

In [ ]:
dec_2020['Month'] = '2020-12-01'
dec_2020['Month'] = pd.to_datetime(dec_2020['Month'], yearfirst=True).dt.strftime('%Y-%m')

In [ ]:
nov_2020 = generate_currency()

In [ ]:
nov_2020['Month'] = '2020-11-01'
nov_2020['Month'] = pd.to_datetime(nov_2020['Month'], yearfirst=True).dt.strftime('%Y-%m')

In [ ]:
oct_2020 = generate_currency()

In [ ]:
oct_2020['Month'] = '2020-10-01'
oct_2020['Month'] = pd.to_datetime(oct_2020['Month'], yearfirst=True).dt.strftime('%Y-%m')

In [ ]:
sep_2020 = generate_currency()

In [ ]:
sep_2020['Month'] = '2020-09-01'
sep_2020['Month'] = pd.to_datetime(sep_2020['Month'], yearfirst=True).dt.strftime('%Y-%m')

In [ ]:
aug_2020 = generate_currency()

In [ ]:
aug_2020['Month'] = '2020-08-01'
aug_2020['Month'] = pd.to_datetime(aug_2020['Month'], yearfirst=True).dt.strftime('%Y-%m')

In [ ]:
jul_2020 = generate_currency()

In [ ]:
jul_2020['Month'] = '2020-07-01'
jul_2020['Month'] = pd.to_datetime(jul_2020['Month'], yearfirst=True).dt.strftime('%Y-%m')

In [ ]:
jun_2020 = generate_currency()

In [ ]:
jun_2020['Month'] = '2020-06-01'
jun_2020['Month'] = pd.to_datetime(jun_2020['Month'], yearfirst=True).dt.strftime('%Y-%m')

In [ ]:
result = pd.concat([may_2021, june_2021, april_2021, march_2021, feb_2021, jan_2021, dec_2020, nov_2020, oct_2020, sep_2020, aug_2020, jul_2020, jun_2020], axis=0)

In [ ]:
result.columns = ['原幣別', '轉換幣別', '匯率', '月份']

In [ ]:
result = result[result['匯率'] != 1]

In [ ]:
result.to_excel(r"C:\Users\kaihsu\OneDrive\INPAQ\110年度匯率表.xlsx", index=False)

### list實驗區

In [ ]:
list("kai")

In [ ]:
s = [1, 2, 3, 4]
k = [3, 2, 3, 4]
s+k

In [ ]:
set(s)

In [ ]:
set(k)

In [ ]:
set(s) & set(k)

In [ ]:
["{} * {} = {}".format(i, j, i * j, end="\t") for i in range(1, 10) for j in range(1, 10)]

In [ ]:
def sum_avg(n1, n2=10):
    total = 0
    for i in range(n1, n2+1):
        total += i
        avg = total / (n2-n1+1)
    return total, avg

In [ ]:
sum_avg(2)

In [ ]:
def greet(*args, **kwargs):
    print(args, kwargs)

In [ ]:
greet("jimmy", "Mary", "Mike", "Amber", x=1, y=2, shit=3)

In [ ]:
greet(["jimmy", "Amber"])

In [ ]:
def outer(msg):
    
    def inner():
        print(msg)
        
    inner()
    
    outer("Shit")

In [ ]:
import pandas as pd

In [ ]:
list1 = [[1, 2], [2, 2], [3, 2]] # 3 rows x 2 colums

In [ ]:
pd.DataFrame(list1)

### 建立3*4表格

In [ ]:
import random

s = []
for i in range(3):
    s.append([])
    for j in range(4):
        s[i].append(random.randint(1, 50))
print(s)

## Class實驗區

### 方法一

In [ ]:
class Duck():
    def __init__(self, input_name):
        self.hidden_name = input_name
    def get_name(self): # 參考Duck物件的name時，其實呼叫的是get_name()方法並回傳
        print("inside the getter")
        return self.hidden_name
    def set_name(self, input_name):
        print("inside the setter")
        self.hidden_name = input_name
    name = property(get_name, set_name)

In [ ]:
fowl = Duck("Howard")
fowl.name

In [ ]:
fowl.get_name()

In [ ]:
fowl.name = "Kai" # 將新的值”Kai"指派給name的時候，就會呼叫set_name()方法

In [ ]:
fowl.name

### 方法二
另一個定義特性的方法就是使用裝飾器：（兩個方法都叫做<font color=red>**name()**</font>）<br>
如此一來可以將method變成attribute。<br>
用此方法也可以修改private的attribute
- @property在getter方法之前
- @name.setter在setter方法之前

In [ ]:
class Duck():
    def __init__(self, input_name):
        self.__hidden_name = input_name
    @property
    def name(self):
        print("inside the getter")
        return self.__hidden_name
    @name.setter
    def name(self, input_name):
        print("inside the setter")
        self.__hidden_name = input_name

In [ ]:
test = Duck("Howard")
test.name

In [ ]:
test.name = "Amber"
test.name

## 類別方法

In [ ]:
class Account():
    name_list = [] # 類別屬性
    def __init__(self, name):
        self.name = name
        Account.name_list.append(self.name) # ！！Account類別的屬性來講新建立的物件放進去list
    @classmethod
    def accounts(cls):
        print(cls.name_list) # 類別方法使用@classmethod，裡面的引數用cls

In [ ]:
x = Account("Kai")
y = Account("Amber")
Account.name_list

## 靜態方法
<font color=red>**可以在不建立類別物件的前提下直接存取類別裡面的方法**</font>

In [ ]:
class Test():
    def __init__(self):
        pass
    @staticmethod
    def speak(name):
        print("Hi, {}! How are you".format(name))

In [ ]:
Test.speak("Kai") # 直接使用類別名稱.靜態方法存取