In [1]:
import pandas as pd

In [4]:
columns = ["Part Number", "Package", "Rank", "Standard price"]
data = [["MCB", "0603", "220~601", 1.70], ["MCB", "0603", "102", 1.90]]
test = pd.DataFrame(columns=columns, data=data)

In [5]:
test

  Part Number Package     Rank  Standard price
0         MCB    0603  220~601             1.7
1         MCB    0603      102             1.9

In [7]:
y = "MCB0603P102ZBP"

In [11]:
!jupyter nbconvert --to script price_analysis.ipynb

[NbConvertApp] Converting notebook price_analysis.ipynb to script
[NbConvertApp] Writing 409 bytes to price_analysis.py