In [15]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('mode.chained_assignment', None)
def my_formatter(x):
    if x < 0:
        return '{:,.0f}'.format(-x)
    return '{:,.0f}'.format(x)
pd.options.display.float_format = my_formatter
import calendar

In [4]:
df = pd.read_excel(r"C:\Users\kaihsu\OneDrive\INPAQ\預算\2022 Forecast\正式預算\20211109_第三版預算\2022預算匯總表for樞紐_20211109.xlsx", None)

In [5]:
df.keys()

dict_keys(['各年度數字總表20211102', '改正LF', '各年度數字總表', '各年度數字樞紐', '2021預算raw data', 'BU對照表', '歷年實績', '20211109年度預算規劃元件', '2022預算Raw data', '預算和實績', '2021年實績樞紐', 'MT一頁報告用數據', 'TELTONIKA整理', 'TELTONIKA一頁報告用', 'TELTONIKA樞紐', '總覽', '圖表', '20211109開會表格'])

In [6]:
raw_data = df['預算和實績']

In [11]:
month_list = [calendar.month_name[i] for i in range(1, 13)]

In [12]:
raw_data['月份'] = pd.Categorical(raw_data['月份'], ordered=True, categories=month_list)

In [72]:
test_data = raw_data[~(raw_data['數量'] == 0)]

In [77]:
test = test_data.groupby(['區域', '產品類型', '年份', '金額類型', '月份'])[['金額']].sum()

In [82]:
pd.DataFrame({'test': [20]})

   test
0    20

In [97]:
test_df = pd.DataFrame([[1,1]], columns=['a', 'b'])

In [106]:
a = {'a': 22, 'b': 33}
test_df.append(a, ignore_index=True)

    a   b
0   1   1
1  22  33