In [26]:
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_Columns', None)

In [27]:
df = pd.read_excel(r"C:\Users\kaihsu\Desktop\業績總表\Weekly report_v0.1.xlsx", sheet_name='出貨明細')

In [28]:
df = df[(df['負責業務'] == '沈思明') & (df['BG'] == 'EMC')]

In [13]:
result = df[['開單日期', '品名', '單價']]

In [32]:
df.groupby(['Group', 'BG'])[['數量', '本國幣別NTD']].sum()

                     數量      本國幣別NTD
Group  BG
Bourns EMC   20757000.0   8462279.56
Laird  EMC  477747000.0  21136679.83

In [16]:
x = result.drop_duplicates(subset='品名', keep='last')

In [25]:
x.to_excel(r"C:\Users\kaihsu\Desktop\EMC_出貨價格.xlsx", index=False, sheet_name="EMC price")